.iconDelete{
    height:"16px";
    width: "16px";
}
.iconDelete:hover{
    color: rgb(239, 11, 11);
}
.boxFlex{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.subTotalFlex{
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    padding-left: 15px;
}